.questionCell,
.statementCell,
.negativeCell {
    display: flex;
    justify-content: flex-start;
    column-gap: 32px;
}

.pronouns {
    display: flex;
    flex-direction: column;
    row-gap: 4px
}

.auxiliaryVerb,
.negativeAuxiliaryVerb,
.statementAuxiliaryVerb  {
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    
}

.auxiliaryVerb {
    width: 100px;
}

.verb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verticalCell {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
}

.headerCell {
    font-weight: bold;
    font-size: 20px;
}

.controlsContainer {
  margin-bottom: 32px;
}
.controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
  
}

.presentQuestionCell,
.presentStatementCell,
.presentNegativetCell {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.ending {
    color: red;
    font-weight: bold;
}


.presentStatementCell .statementCell {
    column-gap: 60px;
}
